html{
    font-family: 'Oswald', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
html,main{
    height: 100%;
}
header{
    background-color: white;
    height: 5%;
    width: 100%;
    left: 0px;
    text-align: center;
    padding-top: 2%;
    filter: drop-shadow(10px 10px 10px #000000);
}
.headerLinks{
    color: #667788;
    text-decoration: none;
    padding-right: 2%;
    letter-spacing: 3px;
}
#activeLink{
    color: #35a114;
}
a:hover{
    color: #000000;
}
.backgroundPicture{
    width: 100%;
    height: auto;
}
.parallaxBackgroundPictureCsGo_1, .parallaxBackgroundPictureCsGo_2 {
    background-image: url("../resources/csgoWallpaper_1.jpg");
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallaxBackgroundPictureCsGo_2 {
    background-color: #000000;
    background-image: none;
  }
  #csgoDeagleVid{
    max-height: 100%;
    width: 100%;
    filter: opacity(30%);
  }
  .parallaxForegroundBox{
    filter: drop-shadow(10px 16px 10px #000000);
    height:300px;
    background-color:white;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
  }
  .footer{
      height: 100px;
      background-color: #FFFFFF;
      text-align: center;
      line-height: 100px;
      font-size: 20px;
  }
  .captionContainer_1, .captionContainer_2, .captionContainer_3{
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
  }
  .captionSpan_1, .captionSpan_2, .captionSpan_3{
    background-color: #ac1e1e;
    filter: drop-shadow(10px 10px 10px #ac1e1eb4);
    color: #FFFFFF;
    padding: 10px 18px 10px 18px;
    font-size: 30px;
    letter-spacing: 8px;
    margin: auto;
  }
  .captionContainer_2{
    width: 100%;
    top: 151.5%;
  }
  .captionSpan_2{
    background-color: #c5b911;
    filter: drop-shadow(10px 10px 10px #c5b911c4);
  }
  .captionContainer_3{
    width: 17%;
    top: 185%;
    left:7.5%;
  }
  .captionSpan_3{
    background-color: #5311c5;
    filter: drop-shadow(10px 10px 10px #5311c5c4);
  }
